<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron">
        <center><h1>Track your events</h1></center>
        <center><p>A simple way to create and share events. </p>
        </center>
        <br>Source: <a href="https://github.com/Yorgg/event5">Yorgg</a> 
      </div> 
    </div>
  </div>
</div>