<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron">
        <center><h1>Track your events</h1></center>
        <center><p>A simple way to create and share events. </p>
        <% if logged_in? %>
        <%= link_to "Create an Event", new_path, class: "btn btn-success btn-lg" %>         
        <% else %>
        <%= link_to "Get started", signup_path, class: "btn btn-primary btn-lg" %> 
        <% end %>
        </center>
        <br>

        <a href="https://github.com/Yorgg/event5">View on github</a> 



      </div> 
    </div>
  </div>
</div>