<div class="container">
  <div class="row">
    <div class="col-md-8  col-md-offset-1 ">  <header class="navybar"> 
      <%= link_to "Event5", root_path, id: :logo %></header>
       
    </div>
  </div>
</div>